@import url('fonts/mdi/css/materialdesignicons.min.css');
@import url('fonts/roboto/roboto.min.css');

* {
	box-sizing: border-box;
}
body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;

	cursor: pointer;
}

input, button {
	border: 0;

	font-family: inherit;
	font-size: inherit;
	color: inherit;

	box-shadow: none;
	background: transparent;
}
input:focus, button:focus {
	outline: 0;
}
